<div id="addForm">
    <form>
        <div class="form-group">
            <label for="txtProjectName">Project Name</label>
            <input type="text" class="form-control" id="txtProjectName" placeholder="Enter Project Name...">
        </div>
        <div class="form-group">
            <label for="txtCreatedBy">Author</label>
            <input type="text" class="form-control" id="txtCreatedBy" placeholder="Created By...">
        </div>
        <div class="form-group">
            <label for="txtComment">Comment</label>
            <textarea class="form-control" type="text" id="txtComment" placeholder="Enter the Comment here..." />
        </div>
        <div class="form-group">
            <label for="sourcePath">Source Path</label>
            <input type="file" class="form-control-file" id="sourcePath">
        </div>
        <button type="submit" class="btn btn-primary" onclick="CreateProject()">Submit</button>
    </form>
</div>